<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-sacle=1,user-scalable=no">
	<title>Home</title>
	<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">
	<style>
		body {
			padding-top: 50px;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="form-group">
		<label for="animalInput">动物名称：</label>
		<input type="text" id="animalInput" class="form-control">
	</div>
	<div class="form-group" id="customAnimalTypeDiv">
		<label for="animalTypeInput">动物类型：</label>
		<input type="text" class="form-control" id="animalTypeInput"/>
	</div>
	<div class="form-group">
		<label for="animalSelect">动物类型：</label>
		<select id="animalSelect" class="form-control">
		</select>
	</div>
	<div class="form-group">
		<button class="btn btn-primary" id="saveAnimal">保存</button>
		<button class="btn btn-success" id="filterAnimal">按类型查询</button>
		<button class="btn btn-warning" id="allAnimal">显示所有</button>

	</div>


</div>
<div class="container">
	<ul class="list-group" id="animalList">
	</ul>
</div>
</body>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
<script>
	!function ($, win) {
		$(function () {
			var animalInput = $('#animalInput'),
					animalSelect = $('#animalSelect'),
					animalList = $('#animalList'),
					saveAnimal = $('#saveAnimal'),
					filterAnimal = $('#filterAnimal'),
					allAnimal = $('#allAnimal'),
					customAnimalTypeDiv = $('#customAnimalTypeDiv'),
					animalTypeInput = $('#animalTypeInput');
			$.get('/animal/api/types', function (data) {
				var oHtml = [];
				data.forEach(function (o) {
					oHtml.push('<option  value="' + o + '">' + o + '</option>');
				});
				$(oHtml.join('')).appendTo(animalSelect.empty());

				saveAnimal.on('click', function () {
					var name = animalInput.val(),
					 		type = animalTypeInput.val();
					if (!name) {
						alert('name is empty!');
						return;
					}
					if(!type){
						type = animalSelect.val();
					}
					if (!type) {
						alert('type is empty!');
						return;
					}
					$.post('/animal/api', {name: name, type: type}, function (json) {
						if (json.error) {
							alert(json.error);
							return;
						}
						var o = json.data;
						$.get('/animal/api/types', function (data) {
							var oHtml = [];
							data.forEach(function (o) {
								oHtml.push('<option  value="' + o + '">' + o + '</option>');
							});
							$(oHtml.join('')).appendTo(animalSelect.empty());
						});

						var newObj = $('<li class="list-group-item" id="' + o._id + '"><span>' + o.name + '</span> - <span>' + o.type + '</span></li>');
						newObj.appendTo(animalList);
						animalInput.val('');
						animalTypeInput.val('');
					});
				});

				filterAnimal.on('click', function () {
					getFilterAnimal();
				});

				allAnimal.on('click', function () {
					getAll();
				});

				animalSelect.on('change',function(){
					getFilterAnimal();
				});
			});
			function getFilterAnimal(){
				var type = animalSelect.val();
				if (!type) {
					alert('请选择类型');
					return;
				}
				$.get('/animal/api/' + type, function (data) {
					var oHtml = [];
					data.forEach(function (o) {
						oHtml.push('<li class="list-group-item" id="' + o._id + '"><span>' + o.name + '</span> - <span>' + o.type + '</span></li>');
					});
					$(oHtml.join('')).appendTo(animalList.empty());
				});
			}

			function getAll() {
				$.get('/animal/api/', function (data) {

					var oHtml = [];
					data.forEach(function (o) {
						oHtml.push('<li class="list-group-item" id="' + o._id + '"><span>' + o.name + '</span> - <span>' + o.type + '</span></li>');
					});
					$(oHtml.join('')).appendTo(animalList.empty());
				});
			}

			getAll();



		});
	}(jQuery, window);
</script>
<!--<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.js"></script>-->
</html>
